@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

input[type="text"]:focus ~ .input-text {
  @apply text-button-register bg-bg-formRegister transform -translate-y-5  -translate-x-1 scale-90 px-1;
}
/* input[type="text"]:valid ~ .input-text {
  @apply text-button-register bg-bg-formRegister transform -translate-y-5  -translate-x-1 scale-90 px-1;
} */

input[type="password"]:focus ~ .input-text {
  @apply text-button-register bg-bg-formRegister transform -translate-y-5  -translate-x-1 scale-90 px-1;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0d0f19 inset;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white;
}
